
/* 
    Created on : Jul 14, 2017, 10:11:12 PM
    Author     : C. Levallois
*/


.tileDesktop{
    border:1px solid;
    display:block;
    border-radius: 10px;
    padding: 10px;
}

.tileMobile{
    border:1px solid;
    border-radius: 10px;
    padding: 10px;
}

.deleteButton{
    display:inline;
    float:right;
}

.tileGood{
    background:gold;
}

.title{
    font-weight: bold;
}


.nothing{
    border:0;
}


.elementHidden{
    visibility: hidden;
}